.checkbox-wrapper {
    width: 45px;
    height: 45px;
    border: 1px solid green;
    margin: 30px auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: white;
}

.checkbox-wrapper input {
    display: none;
}

.checkbox-wrapper label {
    width: 100%;
    height: 100%;
    display: block;
    background: transparent;
    cursor: pointer;
    position: absolute;
    z-index: 10;
}

.checkbox-wrapper span {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 25px;
}

.checkbox-wrapper #modern-checkbox:checked+span {
    background: #0095ff;
}